.notification {
    font-size: 1.4em;
    background-color: lightgray;
    border: solid 2px;
    border-radius: 4px;
    padding: 0.4em;
}

.success {
    color: green;
    border-color: green;
}

.failure {
    color: red;
    border-color: red;
}